<!-- app/templates/edit_shift.html -->
{% extends 'layout.html' %}

{% block title %}<h1>Edit Shift</h1>{% endblock %}

{% block content %}


<form action="{{ url_for('shifts.edit_shift', id=shift.id) }}" method="post">
    <div class="form-group">
        <label for="name">Shift Name:</label>
        <span class= "fixed-select-display" id="shift_name">{{ shift.name }}</span>
        <input type="hidden" name="shift_name" value="{{ shift.name }}">
    </div>

    {% if shift.name.lower() in ['morning', 'evening', 'night'] %}
    <div class="form-group time-selection">
        <label for="start_time">Start Time:</label>
        <select name="start_hour" id="start_hour" required>
            <option value="" disabled selected>Hour</option>
            {% for hour in range(1, 13) %}
                <option value="{{ hour }}" {% if hour|string == shift.start_hour %}selected{% endif %}>{{ hour }}</option>
            {% endfor %}
        </select>

        <select name="start_period" id="start_period" required>
            <option value="" disabled selected>AM/PM</option>
            <option value="AM" {% if shift.start_period == 'AM' %}selected{% endif %}>AM</option>
            <option value="PM" {% if shift.start_period == 'PM' %}selected{% endif %}>PM</option>
        </select>

        <label for="end_time">End Time:</label>
        <select name="end_hour" id="end_hour" required>
            <option value="" disabled selected>Hour</option>
            {% for hour in range(1, 13) %}
                <option value="{{ hour }}" {% if hour|string == shift.end_hour %}selected{% endif %}>{{ hour }}</option>
            {% endfor %}
        </select>

        <select name="end_period" id="end_period" required>
            <option value="" disabled selected>AM/PM</option>
            <option value="AM" {% if shift.end_period == 'AM' %}selected{% endif %}>AM</option>
            <option value="PM" {% if shift.end_period == 'PM' %}selected{% endif %}>PM</option>
        </select>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="bg_color">Background Color:</label>
        <input type="color" name="bg_color" id="bg_color" required value="{{ shift.bg_color }}">
    </div>
    <div class="form-group">
        <label for="text_color">Text Color:</label>
        <input type="color" name="text_color" id="text_color" required value="{{ shift.text_color }}">
    </div>

    <button type="submit">Update Shift</button>
    <a href="{{ url_for('shifts.index') }}" class="cancel-button">Cancel</a>
</form>

{% endblock %}